/* General Styles */

.roboto-mono-roboto-normal {
                  font-family: "Roboto Mono", serif;
                  font-optical-sizing: auto;
                  font-weight:400;
                  font-style: normal;
              }
body {
    font-family: roboto mono, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #900000;
    color: #fff7e1;
}

header {
    background-color: #ff3434;
    color: #333;
    padding: 20px;
    text-align: center;
}

header h1 {
    text-align: center;
    margin: 10px;
}

header h2 {
    margin: 5px 0;
    font-size: 1.2em;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #fff7e1;
}

a:hover {

    color: black;

}
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background: #550000;
    border: 1px solid #550000;
    border-radius: 8px;
}

.gallery {
    list-style-type: none;
    padding: 0;
}

.gallery li {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #900000;
    color: #fff7e1;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#headertext {
    margin-left: 20px;
}